canvas {
    background-color: #663300;
    display: block;
    left: 400px;
}

body {
    background-color: rgba(15, 15, 15, 0.959);
}

h1 {
    font-size: 500%;
    text-align: center;
    padding-bottom: 1%;
}

button {
    cursor: pointer;
    border: none;
}

.playButton {
    left: 10%;
    display: block;
    width: 25%; 
    height: 15%;
    background-color: blue;
    position: absolute;
}

.statsButton {
    left: 300px;
    display: block;
    width: 25%; 
    height: 15%;
    background-color: purple;
    position: absolute;
}

.settingsButton {
    left: 300px;
    display: block;
    width: 25%; 
    height: 15%;
    background-color: grey;
    position: absolute;
}

#stats {
    background-color: olive;
}
h3 {
    color: navy;
    text-align: center;
    
}

#resetStats {
        background-color: darkgreen;
        padding: 15px 32px;
        border: none;
        cursor: pointer;
}
