canvas {
    border: 1px solid #2f3374;
    background-color: #663300;
    margin: auto;
    display: block;
}

body {
    background-color: rgba(15, 15, 15, 0.959);
  }

button {
    border-radius: 50%;
    position: absolute; 
    top:200px; 
    left:1400px; 
}
