canvas {
    background-color: #663300;
    display: block;
    left: 400px;
}

body {
    background-color: rgba(15, 15, 15, 0.959);
  }

button {
    border-radius: 50%;
    position: absolute; 
    top:200px; 
    left:1400px; 
}
